body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
p {
  font-size: 20px;
}
.logo {
  margin-right: 8px;
  margin-left: 28px;
}

.profileContainer {
  display: flex;
}
.profile {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.iconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.bodyContainer {
  display: flex;
  flex-direction: column;
  height: screen-height;
  width: 100%;
}
.organizationContainer {
  display: flex;
  background-color: #006bff;
  width: 100%;
  /* padding: 80px 80px; */
  justify-content: center;
}
.learnMoreContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #606060;
}
.learnMoreImg {
  height: 20px;
}
.exploreContainer {
  display: flex;
  border: 1px solid #d3d3d3;
  margin-top: 40px;
  width: 55%;
  align-self: center;
  padding: 30px 80px;
  border-radius: 10px;
}
.organizationText {
  width: 650px;
  /* text-align: end; */
  color: #fff;
  padding: 20px;
  text-align: start;
  gap: 90px;
}
.organizationText p {
  font-size: 21px;
  margin: 40px 0;
}
.organizationImg {
  width: 450px;
  margin-left: 40px;
}
.organizationBtn {
  padding: 20px 40px;
  background: white;
  border-radius: 5px;
  border: none;
  color: #006bff;
  font-weight: bold;
  font-size: 16px;
}
.exploreImg {
  padding-left: 60px;
}
.createOrgContainer {
  margin-left: 10px;
}
.createOrgSubContainer h3 {
  font-size: 20px;
  color: #606060;
}
.xImg {
  margin-top: 21px;
}
.createOrgLeftContainer {
  display: flex;
  gap: 10px;
}

.createOrgHeading div {
  padding-bottom: 8px;
  width: 750px;
  border-bottom: 1px solid #606060;
}
.createOrgHeadingH2 {
  font-size: 18px;
  color: #2d2d2d;
}
.createOrgSubContainer {
  display: flex;
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: column;
}
form label {
  color: #606060;
  font-size: 21px;
  margin-bottom: 10px;
}
.inputContainer form input {
  display: flex;
  width: 520px;
  padding: 12px;
  align-items: flex-start;
  gap: 10px;
  font-size: 24px;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  margin-bottom: 10px;
}
.inputContainer ::placeholder {
  color: #dbdbdb;
  font-size: 20px;
}
.uploadImg {
  display: flex;
  padding: 10px 10px;
  border: 1px solid gray;
  width: 150px;

  align-items: center;
  color: #006bff;
  font-size: 21px;
}
.uploadImg h4 {
  margin: 0;
}
